.list{
    border: 2px solid yellow;
}
.pointBold{
    font-weight: bold;
    
}

.point{
    margin: 10px 0;
    font-size: 30px;
    background-color: white;
}
.example_class_1{
    border: 3px solid red;
   
}
ul{
    font-weight: normal;
}